*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;

}

body{
    background-color: #1a1a1a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    width: 100%;
    /* margin: auto;
    box-shadow: 0 0 20px 4px black,
                inset 0 0 20px 2px #333;
    border-left: 2px solid #222;
    border-right: 2px solid #222; */
}

header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

header *{
    display: inline-block;
}

header div img{
    height: 15vh;
}

nav{
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    height: 100%;
    
}

nav ul{
    list-style-type: none;
    overflow: auto; /*hidden also works*/
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

nav ul li{
    display: grid;    
}
nav a{
    text-decoration: none;
    padding: .8em;
    color: white;
    text-align: center;
    display: grid;
    align-items: center;
    /* background-image: url(images/sprites.gif);
    background-repeat: no-repeat;
    background-position: right top; 
    background-position: right -100px;*/
    font-size: 1.1em;
    transition: .3s;
}

nav a:hover{
    color: #1fbdd3;
    background-image: -moz-linear-gradient(to bottom, #1a1a1a, #12121217);
    background-color: #0e0e0eaa;
}

nav a:active{
    color: #1fbdd3;
}

#greetingSection{
    display: grid;
    height: 85vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". greeting";
}

#helloGreeting{
    margin: 0;
    grid-area: greeting;
    font-size: 23vh;
    color: white;
}

.invisible{
    visibility: hidden;
    opacity: 0;
}



#floaterDiv{
    position: relative;
    display: grid;
    place-items: center;
    transition: 2s;
}
#floaterControl{
    cursor: pointer;
    background-color: #fc5557;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    display: grid;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    place-items: center;
    
}

.floaters{
    position: absolute;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 2s;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.4em;
}

.red{
    background-color: #fc5557;
}

.blue{
    background-color: #1fbdd3;
}

.green{
    background-color: #1fd346;
}

#floaty1{
    height: 250px;
    width: 250px;
    
}

#floaty2{
    height: 150px;
    width: 150px;
    top: 40px;
    left: 30px;
    
}

#floaty3{
    height: 200px;
    width: 200px;
    bottom: 0;
    right: 15px;
    

}


#floaty4{
    height: 175px;
    width: 175px;
    right: 0;
    top: 70px;
}

#floaty5{
    height: 140px;
    width: 140px;
    left: 0;
    bottom: 180px;

}

#floaty6{
    height: 190px;
    width: 190px;
    bottom: 10px;
    left: 100px;
}
#floaty7{
    height: 190px;
    width: 190px;
    top: 10px;
}
footer{
    text-align: center;
    color: white;
    padding: .4em 0em;
}

/* for tablets */
@media only screen and (max-width:1024px){
    
}

/* for phones */
@media only screen and (max-width:768px){
    #helloGreeting{
        margin: 0;
        grid-area: greeting;
        font-size: 14vh;
        color: white;
    }
    nav{
        background-color: transparent;
        border: none;
        border-top: 3px solid #222 ;
    }

    nav ul li{
        display: block;
        float: none;
        border-bottom: 2px solid #222;
        
    }
    nav a{
        color: purple;
    }


}
